.footer {
  margin-top: 50px;
  width: 100%;
  bottom: 0;
  background-color: white;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
  align-items: stretch;
}

.info_box {
  display: flex;
  justify-content: center;
}

.info > ol {
  font-size: 15px;
  cursor: pointer;
  color: gray;
}

.footer_bottom{
    display: flex;
    align-items: center;
    color: gray;
    justify-content: center;
    padding-bottom: 30px;
    font-size: 12px;
}

